@import '../../styles/variables.scss';

.group-details {
    padding: 20px;

    h1 {
        text-align: left;
        color: $primary900;
        margin-bottom: 0px;
        font-size: 32px;
    }

    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        h4 {
            font-size: 20px;
            font-weight: bold;
            color: $primary900;
        }

        .add-employee-button {
            background-color: $secondary;
            color: $white;
            padding: 10px 20px;
            font-size: 14px;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: darken($secondary, 10%);
            }

            &:disabled {
                background-color: lighten($secondary, 30%);
                color: $primary700;
                cursor: not-allowed;
            }
        }
    }

    .error-message {
        color: red;
        font-size: 16px;
        margin-bottom: 20px;
    }
}
