@import '../../styles/variables.scss';

.employees {
    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        h1 {
            color: $primary900;
            font-size: 32px;
            margin-bottom: 5px;
        }

        .add-employee-button {
            background-color: $secondary;
            color: $white;
            padding: 10px 20px;
            font-size: 14px;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: darken($secondary, 10%);
            }
        }
    }
}
